@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
    color: #ffff;
}
section {
    background-color: white;
    border-radius: 10px;
    max-width: 500px;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0.363);
    margin: auto;
}

div {
    text-align: center;
}

figure > img{
    display: block;
    margin: 0 auto;
    
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
}