@charset "UTF-8";

body {
    background: #25d36d;
}
header {
    text-align: center;
}
section {
    background: white;
    border: 1px solid black;
    max-width: 500px;
    padding: 15px;
    border-radius: 10px;   
    margin: auto;
}
