/*FF9B42*/
body {
    background-color: #ff9742ef;
}

header {
    text-align: center;
}
section {
    background-color: white;
    max-width: 400px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px;
}

a {
    text-decoration: none;
    
}

p a.ativo {
    color: red;
}

input {
    border-radius: 8px;
}

input#button_conversor_fahrenheit, #button_conversor_celsius {
    display: block;
    margin: 0 auto;
}

div {
    margin-top: 10px;
}

p {
    text-align: justify;
}